@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">What's the Weather?</h1>
    <p>Get the latest weather forecast for your upcoming race...</p>
</div>
